body {
  font-family: sans-serif;
}
.comment-box {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
.top-comment {
  border: 1px solid blue;
  background: cadetblue;
}

.response-box {
  margin-left: 10%;
  width: 100%;
  padding: 10px;
  min-height: 50px;
  height: auto;
  background-color: #999;
  border-bottom: 1px solid #666;
}

.added {
  background-color: whitesmoke;
}

.input-box {
  width: 50%;
  border: 1px solid black;
  margin: 5px 10px;
  height: 30%;
}
